@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Iceberg&family=Monoton&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Russo+One&display=swap");
@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
}

.logo-font {
  font-family: "Audiowide", cursive;
}
